---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Cancer Research">
  <h1>Cancer Research</h1>
  <p>The Research published here supports natural cancer protocols. This is in no way intented to replace your physician's recommendations. It is research only and for you to take to your doctor to see how it may or may not apply to your own personal situation.</p>
There are multiple protocols we will put together that you can read about under the "Protocols" tab.





</Layout>
