---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Detoxification Research">
    <h1>Detoxification Research</h1>
    <p>This page features research on the benefits of detoxification and how to do that naturally.</p>
</Layout>