---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Longevity Research">
    <h1>Longevity Research</h1>
    <p>This page features research on natural ways to increase longevity and health.</p>
</Layout>