---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Science of Flax Hull Lignans">
  <h1>Flax Hull Lignan Research</h1>
  <p>
    This page is not all-inclusive, but we will add a few links that show some of the scientific research that supports why we use the specific natural things that we do. We use more than the Flax Hull Lignans to support people’s health, but this page is dedicated currently to Flax Hull Lignan research. If the links don’t work for any reason, contact us at 
    <a href="mailto:info@aidshivawareness.org">info@aidshivawareness.org</a> as we have copies offline of the research.
  </p>

  <h2>Health Benefits of Flax Lignans</h2>
  <ul>
    <li>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5409742/" target="_blank" rel="noopener noreferrer">
        An ancient medicine and modern food (NCBI)
      </a>
    </li>
    <li>Used to help cardiovascular disease, diabetes, cancer, arthritis, and more.</li>
    <li>
      <a href="https://pubmed.ncbi.nlm.nih.gov/24869985/" target="_blank" rel="noopener noreferrer">
        The availability of flax lignans from foods and supplements
      </a>
    </li>
    <li>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2752975/" target="_blank" rel="noopener noreferrer">
        Flax lignans convert to enterolactone and enterodiol in the gut
      </a>
    </li>
    <li>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6566794/" target="_blank" rel="noopener noreferrer">
        Flaxseed as a strategy for improving human health
      </a>
    </li>
    <li>Lignans provide anti-inflammatory and antioxidant effects</li>
    <li>Lignans interfere with multiple diseases including cardiovascular, diabetic, and autoimmune disorders</li>
    <li>Cardiovascular benefits: antihypertensive, antiatherogenic, cholesterol lowering, and more</li>
    <li>
      <a href="https://pubmed.ncbi.nlm.nih.gov/15561887/" target="_blank" rel="noopener noreferrer">
        Flax lignans linked to decreased breast cancer risk
      </a>
    </li>
    <li>Flaxseed improves glycemic control in type 1 and 2 diabetes</li>
    <li>
      <a href="https://pubmed.ncbi.nlm.nih.gov/22508354/" target="_blank" rel="noopener noreferrer">
        Anticancer effects on breast cance
