---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About Us">
  <section class="page-container">
    <img src="/HOPE.png" alt="HOPE graphic" style="display:block;margin:20px auto;max-width:500px;" />

    <h1 style="text-align:center;">About Us</h1>

    <p><strong>AIDS Research &amp; Assistance Institute (A.R.A.I.)</strong> is a non-profit organization that has been working with churches and organizations around the world for over twenty years.</p>

    <p>This organization was born out of need. Originally working with children&rsquo;s feeding programs overseas, the founders wanted to find some positive relief for children who had AIDS/HIV.</p>

    <p>Twenty years ago, the only thing offered to a sick child with HIV/AIDS were efforts to make them comfortable as the disease ate away at their bodies until death. This was not the answer we were willing to accept. We started looking for &ldquo;out-of-the-box&rdquo; solutions and alternative possible answers.</p>

    <p>Very soon afterwards, our paths crossed with a North Dakota farmer who had invented a scientific breakthrough extraction method of &ldquo;all natural lignans&rdquo; that used a special &ldquo;MCP process&rdquo; of extraction from the shell of flaxseed. This method was special because the university scientists in North Dakota had been trying to extract the lignan for years unsuccessfully. The lignans from this process and in this form naturally boost the human immune system. Other methods like chemical extraction do not produce the same result.</p>

    <p>The farmer was looking for an organization who could test the lignans for the benefit of those with AIDS/HIV and other ailments. Two studies were organized and performed in the United States, with the third study performed in South Africa &amp; Swaziland. The studies included people who volunteered with all sorts of health issues. Results were amazing as we saw cancerous tumors disappear, diabetic sugar levels balance, fungal infections reduce, significant improvement come to those with viral or bacterial conditions, and AIDS/HIV sufferers find great relief.</p>

    <p>This specific &ldquo;flax hull lignan&rdquo; is one of the heavily researched natural products we use to help people with HIV/AIDS. It does many other things as well.</p>

    <p>Over the past twenty years we developed a team of researchers who have dived into medical journals and publications, looking at trials and studies of natural options, building our own directory of natural treatments we use when working with people around the world for the most common health challenges.</p>

    <p>We are a non-profit organization and don&rsquo;t sell any of these products. We mostly work with other organizations who want to help people support healthy immune systems around the world.</p>

    <p>If you would like to speak to someone at A.R.A.I., please contact us by filling out the form under our <strong>&ldquo;Contact&rdquo;</strong> tab.</p>

    <img src="/charities.png" alt="Charities graphic" style="display:block;margin:20px auto;max-width:500px;" />
  </section>
</Layout>
