---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Us">
  <h1 style="text-align: center;">Contact Us</h1>
  <p style="text-align: center;">We’d love to hear from you! Please fill out the form below and we’ll be in touch.</p>

  <div class="form-container">
    <form name="contact" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="contact" />

      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="message">Message:</label><br />
      <textarea id="message" name="message" rows="5" required></textarea><br /><br />

      <button type="submit">Send Message</button>
    </form>
  </div>
</Layout>
