---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Research">
  <h1>Research Topics</h1>
  <ul>
    <li><a href="/research/Natural-Immune-System-Support">Natural Immune System Support</a></li>
    <li><a href="/research/Science-of-Flax-Hull-Lignans">Science of Flax Hull Lignans</a></li>
    <li><a href="/research/Vaccine-Detox-Research">Vaccine Detox Research</a></li>
    <li><a href="/research/Zeolite-Research">Zeolite Science</a></li>
    <li><a href="/research/Essential-Oil-Research">Essential Oil Research</a></li>
    <li><a href="/research/Enzyme-Research">Enzyme Research</a></li>
    <li><a href="/research/Longevity-Research">Longevity Research</a></li>
    <li><a href="/research/Cancer-Research">Cancer Research</a></li>
    <li><a href="/research/Detoxification-Research">Detoxification Research</a></li>
  </ul>
</Layout>

