---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Research">
  <h1>Research Topics</h1>
  <ul>
    <li><a href="/research/natural-immune-system-support/">Natural Immune System Support</a></li>
<li><a href="/research/science-of-flax-hull-lignans/">Science of Flax Hull Lignans</a></li>
<li><a href="/research/vaccine-detox-research/">Vaccine Detox Research</a></li>
<li><a href="/research/zeolite-research/">Zeolite Science</a></li>
<li><a href="/research/essential-oil-research/">Essential Oil Research</a></li>
<li><a href="/research/enzyme-research/">Enzyme Research</a></li>
<li><a href="/research/longevity-research/">Longevity Research</a></li>
<li><a href="/research/cancer-research/">Cancer Research</a></li>
<li><a href="/research/detoxification-research/">Detoxification Research</a></li>
<li><a href="/research/autoimmune-research/">Autoimmune Research</a></li>

  </ul>
</Layout>

