---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Thank You">
  <div style="max-width:640px;margin:2rem auto;text-align:center;">
    <h1>Thank You!</h1>
    <p>Your message has been successfully sent. We’ll be in touch soon.</p>
    <a href="/" style="color:#003366;text-decoration:underline;">Return to Home</a>
  </div>
</Layout>
